ruff
rich
django
langgraph
django-browser-reload
django-allauth[socialaccount]
python-dotenv
pillow
django-widget-tweaks
psycopg[binary,pool]
playwright
redis
firecrawl-py
celery
html-to-markdown
langgraph
langgraph-api
langgraph-checkpoint
langgraph-cli
langgraph-sdk
psycopg 
psycopg-pool 
langgraph-checkpoint-postgres