ruff
rich
python-dotenv

langgraph
langgraph-api
langgraph-checkpoint
langgraph-sdk
langgraph-cli
langgraph-checkpoint-postgres

firecrawl-py
playwright

psycopg[binary,pool]
redis
celery
html-to-markdown